@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-background: #134B70;
    --color-background-secundario: #6EACDA;

    --color-texto-primario: #021526;
    --color-texto-secundario: #E2E2B6;
    --color-texto-terciario: #E2E2B6;
}

* {
    padding: 0;
    margin: 0;
}

.encabezado {
    padding: 2.5rem 0 0 2%;
}

.logo {
    filter: invert(58%) sepia(93%) saturate(4506%) hue-rotate(174deg) brightness(91%) contrast(89%);
}

.contenido {
    padding: 5.25rem 5rem 4.5rem 15rem;
    display: flex;
    flex-direction: column;
}

.texto_aqui {
    width: 42.5rem;
    height: 39rem;
    padding-bottom: 3rem;
}

#texto_aqui textarea {
    white-space: normal;
    overflow-wrap: break-word;
    resize: none;
    overflow: hidden;
}

.container_input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-texto-primario);
}

.container_input::placeholder {
    color: var(--color-texto-primario);
}

.resultado {
    right: 2rem;
    left: 2rem;
    width: 25rem;
}

.imagen {
    max-width: 100%;
    height: auto;
    padding: 243px 32px 32px 32px;
}

.subtitulo {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-texto-primario);
    padding: 0 20% 0 20%;
    text-align: center;
}

.parrafo {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 10% 0 10%;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 243px;
    color: var(--color-texto-terciario);
}

body {
    background-color: var(--color-background);
}

.sidebar {
    /* height: 944px;
    width: 400px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    justify-content: center;
    background-color: var(--color-background-secundario);
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    border-radius: 2rem;
    /* padding: 10% 1% 10% 1%; */
}

.apartado_admiracion {
    padding-bottom: 1rem;
}

.admiracion {
    /* padding-top: 40rem; */
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: var(--color-texto-primario);
}

.exclamacion {
    filter: invert(58%) sepia(93%) saturate(4506%) hue-rotate(174deg) brightness(91%) contrast(89%);
}

.parrafo_admiracion {
    font-family: 'inter', sans-serif;
    font-size: 0.75rem;
    color: var(--color-texto-terciario);
    font-weight: 400;
}

.botones {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    width: 42.5rem;
}

.boton_encriptar {
    font-family: 'inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 1.5rem;
    background-color: var(--color-background-secundario);
    border-radius: 1.5rem;
    width: 328px;
    color: var(--color-texto-secundario);
    justify-content: center;
    text-align: center;
}

.boton_desencriptar {
    font-family: 'inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 1.5rem;
    width: 328px;
    background-color: var(--color-texto-secundario);
    border-radius: 1.5rem;
    color: var(--color-texto-primario);
    justify-content: center;
    text-align: center;
    border: 1px solid var(--color-texto-primario);
}

.textoResultado {
    font-family: 'inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    width: 21rem;
    height: 49rem;
    padding: 0%;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    color: var(--color-texto-terciario);
    text-align: justify;
    margin-bottom: 2rem;
}

.boton_copiar {
    display: flex;
    flex-direction: column;
    width: 18rem;
    padding: 1.5rem 1.5rem;
    border: var(--color-texto-primario) solid 1px;
    border-radius: 1.5rem;
    background-color: transparent;
    font-size: 1rem;
    font-family: 'inter', sans-serif;
    font-weight: 400;
    color: var(--color-texto-primario);
    margin: 2rem 2rem;
    text-align: center;
    bottom: 2rem;
}
/* Animacion */
  @keyframes latidos {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .latidos {
    animation: latidos 0.8s ease-in-out 5; /* Animación infinita */
    color: #FFFF00; /* Color del texto */
    transition: transform 0.8s ease-in-out;
  }


@media(max-width:1439px) {
    .imagen {
        display: none;
    }

    #texto.parrafo.textoResultado {
        height: auto;
    }
}

@media(max-width:1003px) {
    .imagen {
        display: none;
    }

    .sidebar {
        bottom: auto;
        width: 90%;
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 62rem;
        padding-top: 2rem;
        margin-left: 2.5rem;
        margin-top: 1rem;
    }

    #sidebar.modificado {
        width: auto;
        margin-right: 2rem;
        justify-content: center;
        align-items: center;
        padding-top: 0%;
    }

    #boton_copiar.boton_copiar {
        align-content: center;
        width: auto;
    }

    #texto.parrafo {
        width: auto;
        text-align: center;
    }

    .resultado {
        width: 100%;
    }

    .parrafo {
        padding-bottom: 2rem;
        width: 43rem;
    }

    .contenido {
        padding: 5.25rem 0 0 2.5rem;
        display: flex;
        flex-direction: column;
    }

    .boton_desencriptar {
        border-radius: 1.25rem;
    }

    .boton_encriptar {
        border-radius: 1.25rem;
    }
}

@media(max-width:768px) {
    .imagen {
        display: none;
    }

    .sidebar {
        /* bottom: auto; */
        width: 688px;
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 133px;
        padding: 0 0;
        border-radius: 2rem;
        margin: 1rem 2.5rem 2.5rem 2.5rem;
    }

    #sidebar.modificado {
        width: 43rem;
        height: auto;
    }

    #texto.parrafo.textoResultado {
        text-align: justify;
        height: auto;
        padding-top: 2rem;
    }

    #boton_copiar {
        width: 84%;
        margin: 2rem 2rem 2rem 2rem;
    }

    .resultado {
        width: 43rem;
        height: auto;
    }

    .subtitulo {
        width: 624px;
        text-align: center;
        padding: 2rem 2rem 1rem 2rem;
    }

    .parrafo {
        width: 624px;
        text-align: center;
        padding: 0 2rem 2rem 2rem;
    }

    .contenido {
        padding: 5.25rem 2.5rem 2.5rem 2.5rem;
        display: flex;
        flex-direction: column;
    }

    .botones {
        padding: 0 2.5rem 0 0;
        width: 688px;
        gap: 1.25rem;
    }

    .boton_desencriptar {
        border-radius: 1.25rem;
    }

    .boton_encriptar {
        border-radius: 1.25rem;
    }

    .encabezado {
        padding-top: 73px;
        padding-left: 0%;
    }


}

@media(max-width: 376px) {
    .imagen {
        display: none;
    }

    .sidebar {
        display: flex;
        position: static;
        width: 90%;
        height: 100%;
        align-items: center;
        justify-content: center;
        border-radius: 2rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        margin-bottom: 2.5rem;
        box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
    }

    #sidebar.modificado {
        width: 21.4375rem;
        height: auto;
        margin-bottom: 1.5rem;
    }

    .resultado {
        width: 21.4375rem;
    }

    .subtitulo {
        width: 263px;
        text-align: center;
        padding: 2rem 2rem 1rem 2rem;
    }
    #texto.parrafo{
        text-align: center;
        width: auto;
    }
    .parrafo {
        width: 263px;
        text-align: center;
        font-size: 1rem;
    }

    #boton_copiar {
        width: auto;
        margin-top: 0%;

    }

    #texto.parrafo.textoResultado {
        margin-bottom: 0;
        width: 17.4375rem;
        text-align: justify;
    }

    .botones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        width: 343px;
        padding: 0 1rem 0 0;

    }

    .boton_encriptar {
        width: 21.4375rem;
        padding-left: 0.5rem;
        padding-right: 0.2rem;
        border-radius: 1.25rem;
    }

    .boton_desencriptar {
        bottom: 64px;
        width: 21.4375rem;
        padding-left: 0.5rem;
        padding-right: 0.2rem;
        border-radius: 1.25rem;
    }

    .contenido {
        padding-bottom: 64px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .encabezado {
        padding-top: 1.25rem;
    }

    /* .textoResultado {
        font-family: 'inter', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        width: 43rem;
        height: 21rem;
    } */

}